@import "./variabels.scss";

html {
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }    
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    margin: 0;
    background-color: $background_color;
}

.main_container {
    min-height: calc(var(--doc_height) - $header_height);
    position: relative;
}

.header {
    height: $header_height;
    background-color: $header_bgColor;
    border-bottom: 1px solid $border_color;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        max-width: $board_width;
        width: 100%;
    }

    h1 {
        flex-grow: 2;
        display: flex;
        justify-content: center;
    }

    .help, .restart {
        margin: 0 1rem;
        cursor: pointer;
        svg {
            width: 2rem;
            fill: $text_color;
        }
    }

    .restart svg {
        fill: $disabled_check_bgColor;
    }
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: $text_color;
}

button {
    border: none;
}

.board {

    max-width: $board_width;
    margin: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: $gaping*4;

    
    &.ended {
        .target {
            opacity: 1;
        }
    }

    .target {        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: $gaping;

        position: sticky;
        top: $gaping;
        z-index: 9;
        opacity: .75;

        .square {
            background-color: $target_bgColor;
            border-radius: 1rem;
            border: 2px solid #fff;
            outline: 1px solid $target_bgColor;
            
            transition: .75s;
            transform: rotateY(0);

            svg {
                fill: #fff;
            }

            &.show {
                transform: rotateY(360deg);
            }

            &.remain{
                color: rgb(75, 75, 75);
                background-color: $solution_bgColor
            }

            &.lose {
                background-color: $wrong_color;
                color: #fff;
            }

            &.win {
                background-color: $exact_color;
                color: #fff;
            }
        }
    }

    .rows {
        display: flex;
        flex-direction: column-reverse;
        gap: $gaping;
        margin-bottom: $pickerbox_height;

        .row {

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: $gaping;

            opacity: .5;

            &.past, &.active {
                opacity: 1;

                .solution .square {
                    cursor: pointer;
                }
            }

            &.active .solution .square {
                border: 3px solid $background_color;
                outline: 1px solid $solution_bgColor;

                svg {
                    animation: blink 2s infinite;
                    fill: $target_bgColor;
                }

                &.colorful {
                    svg {
                        fill: #fff;
                    }
                }
            }

            .solution {
                grid-column-start: 1;
                grid-column-end: 5;

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $gaping;

                .square {
                    background-color: $solution_bgColor;
                    border-radius: 1rem;
                    transition: .15s;

                    position: relative;

                    .color_num{
                        font-size: 1rem;

                        position: absolute;
                        bottom: $gaping*2;
                        right: $gaping*2;
                    }
                }
            }

            .result {
                padding: $gaping*2;

                grid-column-start: 5;
                grid-column-end: 6;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $gaping;

                transition: .5s;
                transform: scale(.75) rotate(180deg);

                &.show {
                    transform: scale(1) rotate(0);
                    opacity: 1;
                }

                .square {

                    border-radius: .5rem;
                    border: 1px solid $solution_bgColor;

                    &.wrong {
                        background-color: $wrong_color;
                    }
                    &.correct {
                        background-color: $correct_color;
                    }
                    &.exact {
                        background-color: $exact_color;
                    }
                }
            }
        }
    }

    .pickerbox {

        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    
        border: 1px solid $border_color;
        padding: $gaping*4;
        border-radius: .5rem .5rem 0 0;
        background-color: rgba(#fff, 0.75);
        // backdrop-filter: blur(2px);

        z-index: 99;
        transition: .5s;

        .restart_actions{
            .restart{
                height: $square_width;
                width: $square_width*8;
                background-color: $check_bgColor;
                color: #fff;
                font-size: 1.2rem;
                border-radius: $gaping;
                cursor: pointer;
            }

            p {
                text-align: center;
                margin-top: 0;

                color: rgb(50, 50, 50);
            }
        }

        .game_actions {
                    
            display: flex;
            gap: $gaping;

            .square {
                width: $square_width;
                height: $square_width;
        
                border-radius: .5rem;
                cursor: pointer;
                border: 2px solid #fff;
                outline: 1px solid $solution_bgColor;
            }

            .colors {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: $gaping;
            }
        
            .actions {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: $gaping;
        
                .action {
        
                    svg {
                        fill: #fff;
                    }
        
                    &.done {
                        outline-color: $check_bgColor;
                        background-color: $check_bgColor;

                        &:disabled{
                            outline-color: $disabled_check_bgColor;
                            background-color: $disabled_check_bgColor;
                            opacity: .75;
                            cursor: default;
                        }

                        svg {
                            width: 1.5rem;
                        }
                    }
        
                    &.backspace {
                        background-color: $solution_bgColor;

                        svg {
                            width: 2.25rem;
                        }
                    }
                }
        
                .square{
                    width: $square_width*1.5;
                }
            }
        }
    }
}

.square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    aspect-ratio: 1/1;
    color: #fff;
    font-size: 1.2rem;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);

    }
}