@import "./root.css";
@import "./variabels.scss";

html {
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }    
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rowdies', cursive;
    margin: 0;
    background-color: $background_color;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: $title_color;
}

button {
    border: none;
    font-family: 'Rowdies', cursive;
}

.exact {
    color: $exact_color;
}

.correct {
    color: $correct_color;
}

.wrong {
    color: $wrong_color;
}

.main_container {
    min-height: calc(var(--doc_height) - $header_height);
    position: relative;
}

.board {

    max-width: $board_width;
    margin: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    
    &.ended {
        .target {
            opacity: 1;
        }
    }

    .target {        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: $row_gapping;

        margin-bottom: $row_gapping*2;

        position: sticky;
        top: $row_gapping;
        z-index: 9;
        opacity: .75;

        .square {
            background-color: $target_bgColor;
            border-radius: 1rem;
            border: 2px solid $background_color;
            outline: 1px solid $target_bgColor;
            
            transition: .75s;
            transform: rotateY(0);

            svg {
                fill: $target_svgColor;
            }

            &.show {
                transform: rotateY(360deg);
            }

            &.remain{
                color: $target_svgColor;
                background-color: $solution_bgColor
            }

            &.lose {
                background-color: $wrong_color;
                color: #fff;
            }

            &.win {
                background-color: $exact_color;
                color: #fff;
            }
        }
    }

    .rows {
        display: flex;
        flex-direction: column-reverse;
        gap: $row_gapping;
        margin-bottom: $pickerbox_height;

        .row {

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: $row_gapping;
        
            opacity: .5;
        
            &.past, &.active {
                opacity: 1;
        
                .solution .square {
                    cursor: pointer;
                }
            }
        
            &.active .solution .square {
                border: 3px solid $background_color;
                outline: 1px solid $solution_bgColor;
        
                svg {
                    animation: blink 2s infinite;
                    fill: $solution_svgColor;
                }
        
                &.colorful {
                    svg {
                        fill: #fff;
                    }
                }
            }
        
            .solution {
                grid-column-start: 1;
                grid-column-end: 5;
        
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $row_gapping;
        
                .square {
                    background-color: $solution_bgColor;
                    border-radius: 1rem;
                    transition: .15s;
        
                    position: relative;
        
                    &.error {
                        animation: shake .4s;
                    }

                    .color_num{
                        font-size: 1rem;
        
                        position: absolute;
                        bottom: $row_gapping;
                        right: $row_gapping;
                    }
                }
            }
        
            .result {
                padding: $row_gapping;
        
                grid-column-start: 5;
                grid-column-end: 6;
        
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: calc($row_gapping/2);
        
                transition: .5s;
                transform: scale(.75) rotate(180deg);
        
                &.show {
                    transform: scale(1) rotate(0);
                    opacity: 1;
                }
        
                .square {
        
                    border-radius: .25rem;
                    border: 1px solid $solution_bgColor;
        
                    &.wrong {
                        background-color: $wrong_color;
                        border-color: $background_color;
                    }
                    &.correct {
                        background-color: $correct_color;
                        border-color: $background_color;
                    }
                    &.exact {
                        background-color: $exact_color;
                        border-color: $background_color;
                    }
                }
            }
        }
    }

    .pickerbox {

        max-width: $board_width;
        width: 100%;

        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    
        border: 1px solid $border_color;
        border-bottom: none;

        padding: $row_gapping*2;
        border-radius: .5rem .5rem 0 0;
        background-color: rgba($background_color_code, 0.8);
        backdrop-filter: blur(2px);

        z-index: 99;
        transition: .5s;

        .restart_actions{
            .restart{
                height: $square_width;
                width: 100%;
                background-color: $check_bgColor;
                color: #fff;
                font-size: 1.2rem;
                border-radius: .5rem;
                cursor: pointer;
            }

            p {
                text-align: center;
                margin-top: 0;

                color: $text_color;
            }
        }

        .game_actions {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: $row_gapping;

            .colors {
                grid-column-start: 1;
                grid-column-end: 6;

                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: $row_gapping;
            }
        
            .actions {
                grid-column-start: 6;
                grid-column-end: 8;

                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: $row_gapping;
        
                .action {
        
                    aspect-ratio: unset;

                    svg {
                        fill: #fff;
                        position: absolute;
                    }
        
                    &.done {
                        outline-color: $check_bgColor;
                        background-color: $check_bgColor;

                        &:disabled{
                            outline-color: $disabled_check_bgColor;
                            background-color: $disabled_check_bgColor;
                            opacity: .75;
                            cursor: default;
                        }

                        svg {
                            width: 1.75rem;
                        }
                    }
        
                    &.backspace {
                        background-color: $solution_bgColor;

                        svg {
                            width: 2.5rem;
                        }
                    }
                }
            }

            .square {
                border-radius: .5rem;
                cursor: pointer;
                border: 2px solid $background_color;
                outline: 1px solid $solution_bgColor;
            }
        }
    }
}

.square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    aspect-ratio: 1/1;
    color: #fff;
    font-size: 1.2rem;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);

    }
}

@keyframes shake {
    10% {
        transform: translate(-5px);
    }
    25% {
        transform: translate(5px);
    }
    40% {
        transform: translate(-5px);
    }
    60% {
        transform: translate(5px);
    }
    75% {
        transform: translate(-5px);
    }
    90% {
        transform: translate(5px);
    }
}