// color codes
$background_color_code: var(--background_color);
$header_bgColor_code: var(--header_bgColor);
$header_svgColor_code: var(--header_svgColor);
$solution_bgColor_code: var(--solution_bgColor);
$target_bgColor_code: var(--target_bgColor);
$target_bgColor_code: var(--target_bgColor);
$solution_svgColor_code: var(--solution_svgColor);
$target_svgColor_code: var(--target_svgColor);
$border_color_code: var(--border_color);
$title_color_code: var(--title_color);
$text_color_code: var(--text_color);

// dynamic colors
$background_color: rgb($background_color_code);
$header_bgColor: rgb($header_bgColor_code);
$header_svgColor: rgb($header_svgColor_code);
$solution_bgColor: rgb($solution_bgColor_code);
$target_bgColor: rgb($target_bgColor_code);
$solution_svgColor: rgb($solution_svgColor_code);
$target_svgColor: rgb($target_svgColor_code);
$border_color: rgb($border_color_code);
$title_color: rgb($title_color_code);
$text_color: rgb($text_color_code);

// static colors
$wrong_color: #EA5030;
$correct_color: #F0AF2C;
$exact_color: #1DB871;
$check_bgColor: rgb(75, 200, 250);
$disabled_check_bgColor: rgb(210, 75, 50);


// sizes
$header_height: 3rem;
$square_width: 3rem;
$gaping: .5rem;
$row_gapping: .5rem;

$board_width: 30rem;

$pickerbox_height: $square_width*2 + $gaping*8;