@import "../../styles/variabels.scss";

.modal__wrap {
    position: fixed;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: var(--doc_width);
    height: var(--doc_height);
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.1);

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

.visible {
    pointer-events: auto;
    opacity: 1;
    transition: all 150ms ease-in-out;
}

.modal {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: block;
    min-height: 10rem;

    max-width: 32rem;
    width: 100%;

    margin: 1rem;
    padding: 0 1rem;

    border-radius: 4px;
    padding-bottom: 20px;
    background-color: #fff;
    align-self: center;

    background: rgba($background_color, .75);
    border-radius: .5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid $border_color;

    transition: 500ms ease;
    transform: scale(0);
}

.visible .modal {
    transform: scale(1);
}

.close_modal{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 50%;
    border: none;
    background-color: $target_bgColor;
    cursor: pointer;
    border: 1px solid #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: #3d3d3d88;
    }
    svg{
        fill: #fff;
    }
}
