$square_sie: 3rem;
$pickerbox_padding: 1rem;
$header_height: 3rem;

html {
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }    
}

body {
    font-family: 'Lobster', cursive;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #555;
}

button {
    border: none;
}

.main_container{
    display: flex;
    justify-content: center;
    min-height: calc(var(--doc_height) - $header_height);
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $header_height;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.2);
}

.board {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    position: relative;

    .game_target{
        display: flex;
        gap: .5rem;
        margin-bottom: .5rem;
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: .5rem 0;
        border-bottom: 1px solid #ddd;

        .square {
            background-color: #f5f5f5;
            border: 1px solid #adadad;
        }
    }

    .rows {
        border-radius: .5rem;
        display: flex;
        flex-direction: column-reverse;
        gap: .5rem;
        padding-bottom: .5rem;
        margin-bottom: calc($square_sie + ($pickerbox_padding * 2));
        
        @media screen and (max-width: 768px) {
            margin-bottom: calc(($square_sie * 2) + ($pickerbox_padding * 2));
        }

        .row {
            display: flex;
            gap: .5rem;
            opacity: .5;

            &.past {
                opacity: 1;
                
                .solution {
                    .square {
                        cursor: pointer;
                    }
                }
            }

            &.active {
                opacity: 1;

                .solution {
                    .square {
                        cursor: pointer;
                    }
                }
            }
            
            .solution {
                display: flex;
                gap: .5rem;

                .square {
                    background-color: #d4d4d4;
                    // border: 1px solid #adadad;
                    user-select: none;
                    &.active {
                        border: 2px solid #7a7a7a;
                    }
                }
            }

            .result {
                // background-color: rgb(218, 218, 218);
                // border: 1px solid #ddd;
                border-radius: .5rem;
                
                height: $square_sie;
                width: $square_sie;

                display: grid;
                justify-items: center;
                align-items: center;
                gap: .25rem;

                opacity: 0;
                transition: .25s;
                transform: scale(0) rotate(180deg);

                &.show {
                    transform: scale(1) rotate(0);
                    opacity: 1;
                }

                grid-template-columns: repeat(2, 1fr);

                .square:not(.action) {
                    width: 1rem;
                    height: 1rem;
                    border-radius: .25rem;
                    border: 1px solid rgb(202, 202, 202);

                    &.exact {
                        background-color: rgb(10, 158, 35);
                    } 
                    &.correct {
                        background-color: rgb(181, 184, 11);
                    } 
                    &.wrong {
                        background-color: rgb(158, 39, 10);
                    } 
                }
            }
        }
    }

    .pickerbox {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
        background-color: #f5f5f5;
        border: 1px solid #adadadb0;

        border-radius: 1rem 1rem 0 0;
        border-bottom: none;

        padding: $pickerbox_padding;
        height: calc($square_sie + ($pickerbox_padding * 2));
        
        display: flex;
        gap: .5rem;

        .actions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: .5rem;
            
            @media screen and (max-width: 768px) {
                flex-direction: column;
                grid-template-columns: repeat(1, 1fr);
            }

            .square {
                border: 1px solid #ddd;
                cursor: pointer;

                svg {
                    fill: #fff;
                }
                
                &.done{
                    background-color: #33afd4;
                    
                    &:disabled{
                        background-color: #d44633;
                        opacity: .75;
                        cursor: default;
                    }
                }

                &.backspace{
                    background-color: #858282;
                }
            }
        }

        @media screen and (max-width: 768px) {
            height: calc(($square_sie * 2) + ($pickerbox_padding * 2));
            left: 0;
            right: 0;
            transform: translate(0);
            
            display: flex;
            justify-content: center;
            border-radius: 0;
        }

        .colors {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            
            gap: .5rem;

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(5, 1fr);
                align-items: center;
                justify-items: center;
            }

            .square {
                cursor: pointer;
            }
        }
    }
}

.square {
    border-radius: .5rem;
    width: $square_sie;
    height: $square_sie;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 1px rgb(78, 78, 78);
    user-select: none;
}