
$header_height: 3rem;
$square_width: 3rem;
$gaping: .25rem;


$pickerbox_height: $square_width*2 + $gaping*8;

// theming
$theme: "light";

$background_color: null;

@if ($theme == 'light') {
    $background_color: rgb(250, 250, 250);
} @else {
    $background_color: #2B303C;
}

html {
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }    
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    margin: 0;
    background-color: $background_color;
}

.main_container {
    min-height: calc(var(--doc_height) - $header_height);
    position: relative;
}

.header {
    height: $header_height;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

button {
    border: none;
}

.board {

    max-width: 28rem;
    margin: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: $gaping*4;

    
    &.ended {
        .target {
            opacity: 1;
        }
        
        // .rows{
        //     margin-bottom: $gaping;
        // }
    }

    .target {        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: $gaping;

        position: sticky;
        top: $gaping;
        z-index: 9;
        opacity: .75;

        .square {
            background-color: rgb(150, 150, 150);
            border-radius: 1rem;
            border: 2px solid #fff;
            outline: 1px solid rgb(150, 150, 150);
            
            svg {
                fill: #fff;
            }

            &.remain{
                color: rgb(75, 75, 75);
                background-color: rgb(210, 210, 210);
            }

            &.lose {
                background-color: rgb(255, 75, 75);
                color: #fff;
            }

            &.win {
                background-color: rgb(37, 189, 37);
                color: #fff;
            }
        }
    }

    .rows {
        display: flex;
        flex-direction: column-reverse;
        gap: $gaping;
        margin-bottom: $pickerbox_height;

        .row {

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: $gaping;

            opacity: .5;

            &.past, &.active {
                opacity: 1;

                .solution .square {
                    cursor: pointer;
                }
            }

            &.active .solution .square {
                border: 3px solid $background_color;
                outline: 1px solid rgb(155, 155, 155);

                svg {
                    animation: blink 2s infinite;
                    fill: rgb(100, 100, 100);
                }

                &.colorful {
                    svg {
                        fill: #fff;
                    }
                }
            }

            .solution {
                grid-column-start: 1;
                grid-column-end: 5;

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $gaping;

                .square {
                    background-color: rgb(210, 210, 210);
                    border-radius: 1rem;
                    transition: .15s;

                    position: relative;

                    .color_num{
                        font-size: 1rem;

                        position: absolute;
                        bottom: $gaping*2;
                        right: $gaping*2;
                    }
                }
            }

            .result {
                padding: $gaping*2;

                grid-column-start: 5;
                grid-column-end: 6;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $gaping;

                transition: .5s;
                transform: scale(.75) rotate(180deg);

                &.show {
                    transform: scale(1) rotate(0);
                    opacity: 1;
                }

                .square {
                    // background-color: rgb(210, 210, 210);

                    border-radius: .5rem;
                    border: 1px solid rgb(210, 210, 210);

                    &.wrong {
                        background-color: rgb(255, 75, 75);
                    }
                    &.correct {
                        background-color: rgb(255, 216, 45);
                    }
                    &.exact {
                        background-color: rgb(37, 189, 37);
                    }
                }
            }
        }
    }

    .pickerbox {

        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    
        border: 1px solid #d3d3d3;
        padding: $gaping*4;
        border-radius: .5rem .5rem 0 0;
        background-color: rgba(255, 255, 255, 0.75);
        // backdrop-filter: blur(2px);
    
        transition: .25s;

        .restart_actions{
            .restart{
                height: $square_width;
                width: $square_width*8;
                background-color: rgb(75, 200, 250);
                color: #fff;
                font-size: 1.2rem;
                border-radius: $gaping;
            }

            p {
                text-align: center;
                margin-top: 0;

                &.lose {
                    color: rgb(50, 50, 50);
                }
            }
        }

        .game_actions {
                    
            display: flex;
            gap: $gaping;

            .square {
                width: $square_width;
                height: $square_width;
        
                border-radius: .5rem;
                cursor: pointer;
                border: 2px solid #fff;
                outline: 1px solid #ddd;
            }

            .colors {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: $gaping;
            }
        
            .actions {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: $gaping;
        
                .action {
        
                    svg {
                        fill: #fff;
                    }
        
                    &.done {
                        background-color: rgb(75, 200, 250);
        
                        &:disabled{
                            background-color: #d44633;
                            opacity: .75;
                            cursor: default;
                        }
                    }
        
                    &.backspace {
                        background-color: rgb(175, 175, 175);
                    }
                }
        
                .square{
                    width: $square_width*1.5;
                }
            }
        }
    }
}

.square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    aspect-ratio: 1/1;
    color: #fff;
    font-size: 1.2rem;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);

    }
}